#south{
    position: absolute;
}

.nav-link.call-link.active {
    background-color: #f7f7f7!important;
}

#pre-header {
    background-color: white;
    padding-bottom: 0;
}

.call-tab {
    background-color: transparent;
    margin-bottom: 10px!important;
}

#hiddenToggle {
    margin-right: 1em;
}

#west {
    height: min-content!important;
}

.card {
    margin-right: 20px;
}

.card input[type=search]{
    border: 1px solid #ddd;
    border-radius: 4px;
}

.toggleHiddenCalls{
    border: 1px solid #aaa;
    float: right;
}